<!-- list out all answers -->

<h1>Answers index page </h1>

<!-- link to create new answer based on q.id -->
<h4><a href="">Answer question</a></h4>
<!-- link to edit answers posted based on q.id  -->
<h4><a href="">Edit answer</a></h4>


<!-- loop through to create a list -->
<% @answer.each do |a| %>
	<%%>
<% end %>