<h1>New Answers</h1>

<h2> Enter Answer for Question #n </h2>

<form method="post" action="/answers">
	<input type=text placeholder="Answer" name="answer[remarks]"><br>
	<input type="submit" value="Submit">
</form>