<!-- edit a question -->

<h1>edit question</h1>

<form method="post" action="/questions/<%=@question.id%>/edit">
	<input type=text placeholder="Edit Question" name="question"><br>
	<input type="submit" value="submit">
</form>
