<h1>Questions</h1>

<h2> Enter Question</h2>

<form method="post" action="/questions">
	<input type=text placeholder="Title" name="question[title]"><br>
	<input type=text placeholder="details" name="question[details]"><br>
	<input type="submit" value="Submit">
</form>

<!-- action based on urls-->